<div class="col-sm-12 col-md-9">
    <span class="col-form-label" style="padding:0px;" name="@Question.QuestionId">@Question.Question.Text</span>
</div>

<div class="col-sm-6 col-md-3 row">
    <select class="form-control" Value="@Question.FormSection" >
        <option value=""></option>
        @foreach (var response in Question.QuestionResponse.ResponseOptions.OrderBy(x => x.Sequence))
        {
            <option value="@response.ShortDescription" selected="@(Question.FormSection == response.ShortDescription ? "selected" : null)"> @response.LongDescription </option>
        }
    </select>
    
</div>

@code
{
    [Parameter]
    public TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion> QuestionChanged { get; set; }

    async Task UpdateResponse(string response)
    {
        Question.FormSection = response;
        await QuestionChanged.InvokeAsync(Question);
    }
}
