<div class="col-sm-12 col-md-9">
    <span class="col-form-label" style="padding:0px;" name="@Question.QuestionId">@Question.Question</span>
</div>

<div class="col-sm-6 col-md-3 row">
    @foreach (var response in Question.QuestionResponse.ResponseOptions.OrderBy(x => x.Sequence))
    {
        var responseElementIdentifier = $"q{Question.QuestionId}-{response.ShortDescription}";
        <div class="col-sm-6 assessmentResponse custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="@Question.QuestionId" id="@responseElementIdentifier" value="@response.ShortDescription" checked="@(response.ShortDescription == Question.FormSection)" @onchange="() => UpdateResponse(response.ShortDescription)" />
            <label for="@responseElementIdentifier" class="custom-control-label">@response.LongDescription</label>
        </div>
    }
    
</div>

@code
{
    [Parameter]
    public TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion Question { get; set; }

    [Parameter]
    public EventCallback<TestingWASM.Services.FormEntryResponse.Types.FormQuestionEntries.Types.FormQuestion> QuestionChanged { get; set; }

    async Task UpdateResponse(string response)
    {
        Question.FormSection = response;
        await QuestionChanged.InvokeAsync(Question);
    }
}